/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 2, 2017, 10:14:53 PM
    Author     : Gemini
*/
a {color: red}
a:hover {color: yellow}
h1 {color: red}
.dichtrai{
float:right;

}